.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 50%;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  justify-content: center;
}
