<mat-card>
  <form class="loginForm" [formGroup]="loginForm">
    <h1>Login Form</h1>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
    </mat-form-field>
    <br />
    <button mat-raised-button color="accent" (click)="submitForm()">
      Login
    </button>
    <br />
    <br />
    <p style="color: red">{{ this.errorMessage }}</p>

    <br />
    <p>Don't Have an account? <a href="/signup">Sign Up</a></p>
  </form>
</mat-card>
