<h1>Password Reset Form</h1>

@if(!IsshowForm){
<form class="PasswordRestForm" [formGroup]="PasswordRestForm">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      formControlName="email"
      placeholder="Enter your email"
    />
  </mat-form-field>
  <br />

  <button mat-raised-button color="accent" (click)="handleResetPassword()">
    Reset Password
  </button>
  <p>{{ this.message }}</p>
  <br />
</form>

} @if(IsshowForm){
<form class="PasswordVerificationForm" [formGroup]="PasswordVerificationForm">
  <mat-form-field appearance="fill">
    <mat-label>Code</mat-label>
    <input
      matInput
      type="text"
      formControlName="code"
      placeholder="Enter verification code"
    />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input
      matInput
      type="text"
      formControlName="newPassword"
      placeholder="Enter New Password"
    />
  </mat-form-field>
  <br />
  <button
    mat-raised-button
    color="accent"
    (click)="handleConfirmResetPassword()"
  >
    Confirm Code.
  </button>
</form>

}
