.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 10%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .loginForm {
    width: 500px;
    padding: 10px;
    margin: 20px;
  }
  .mat-mdc-form-field {
    width: 100%;
  }
  
  button {
    background-color: rgb(202, 34, 34)
  }
  