<h1>Welcome , {{ this.userEmail }}</h1>

<h1>What Would you like to do today?</h1>

<button mat-raised-button color="accent" (click)="goToPerfomTrial()">
  Perfom Trial
</button>
&nbsp;
<button mat-raised-button color="accent" (click)="goToReviewTrial()">
  Review Trial
</button>
&nbsp;
<button mat-raised-button color="accent" (click)="goToInstructions()">
  Go To instructions Page
</button>
&nbsp;
<button mat-raised-button color="accent" (click)="goToReviewModels()">
  Go To review models Page
</button>
&nbsp;
<button mat-raised-button color="accent" (click)="goToClinicianPage()">
  Go To Clinician Page
</button>
