.error {
  text-align: left;
  color: red;
  font-weight: bold;
}

.loginForm {
  min-width: 400px;
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 450px) {
  .loginForm {
    min-width: 100%; /* Make width 100% to fit the screen */
    box-sizing: border-box; /* This ensures padding is included in the width */
  }
}
.mat-mdc-form-field {
  width: 100%;
}

button {
  background-color: white !important;
}
